<div class="row">
    <h3 class="textotitulo">EDUCACIÓN</h3>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h6>Community Management.</h6> </li>
            <p>Intercontact</p>
        </ul>
        <ul>
            <li><h6>Excelencia para el Servicio y Atención al Cliente. </h6> </li>
            <p>UTN</p>
        </ul>
        <ul>
            <li><h6>E-commerce desde la implementación al cobro online.</h6> </li>
            <p>UTN</p>
        </ul>
        <ul>
            <li><h6>Administración eficaz del tiempo.</h6> </li>
            <p>UTN</p>
        </ul>
        <ul>
            <li><h6>Programación Neurolingüística.</h6> </li>
            <p>Intercontact</p>
        </ul>
        <ul>
            <li><h6>Desarrollo de habilidades comerciales.</h6> </li>
            <p>UTN</p>
        </ul>
        <ul>
            <li><h6>Técnicas de venta.</h6> </li>
            <p>Intercontact</p>
        </ul>
        <ul>
            <li><h6>Gestión de calidad: Excelencia en la gestión de servicio.</h6> </li>
            <p>Intercontact</p>
        </ul>
        <ul>
            <li><h6>Design thinking.</h6> </li>
            <p>Intercontact</p>
        </ul>
        <ul>
            <li><h6>Cultura del bienestar organizacional.</h6> </li>
            <p>Intercontact</p>
        </ul>
        <ul>
            <li><h6>Claves para liderar equipos con éxito.</h6> </li>
            <p>Company Builder</p>
        </ul>
        <ul>
            <li><h6>Desarrollo de negocios exitosos en Internet.</h6> </li>
            <p>Innovation</p>
        </ul>
        <ul>
            <li><h6>Argentina Programa #seprogramar.</h6> </li>
            <p>UTN y Cámara de la Industria Argentina del Software</p>
        </ul>
        <ul>
            <li><h6>Argentina Programa #yoprogramo.</h6> </li>
            <p>UTN y Cámara de la Industria Argentina del Software</p>
        </ul>
    </div>
</div>
