<div class="row">
    <h3 class="textotitulo">PROYECTOS REALIZADOS</h3>
    <div class="contenedor">

        <div class="card-group">
            <div class="card">
              <img src="assets/1.png" class="card-img-top" alt="Bootstrap">
              <div class="card-body">
                <h5 class="card-title">Proyecto A</h5>
              </div>
            </div>

            <div class="card">
              <img src="assets/2.png" class="card-img-top" alt="Bootstrap">
              <div class="card-body">
                <h5 class="card-title">Proyecto B</h5>
              </div>
            </div>

            <div class="card">
              <img src="assets/3.png" class="card-img-top" alt="Bootstrap">
              <div class="card-body">
                <h5 class="card-title">Proyecto C</h5>
              </div>
            </div>
          </div>

    </div>
</div>
