<div class="row">
    <h3 style="color:  #4E8EDD">HABILIDADES</h3>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="90"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#9D7EC5'"
            [innerStrokeColor]="'#4E8EDD'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="90"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#9D7EC5'"
            [innerStrokeColor]="'#4E8EDD'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="90"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#9D7EC5'"
            [innerStrokeColor]="'#4E8EDD'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="90"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#E46FAF'"
            [innerStrokeColor]="'#4E8EDD'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="90"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#E46FAF'"
            [innerStrokeColor]="'#4E8EDD'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="90"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#E46FAF'"
            [innerStrokeColor]="'#4E8EDD'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
