<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.png" class="img-fluid" id="fotodeperfil">
    </div>
  
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Hola, soy Francisco Ludueña, Programador Web Full Stack. <br>
                
                Trabajo como Freelance diseñando,
                prototipando, y llevando a cabo Sitios Webs de diferentes complejidades para clientes pequeños y 
                grandes en distintos paises del mundo. <br>
                
                Soy un apasionado por la música, y desde mis 16 años diseño Sitios Web que sostienen mis proyectos 
                artísticos. Mi primer proyecto fue una web que contenía un Widget de radio (donde yo mismo compartía 
                mi música) y un espacio de Chat para conversar con los oyentes; aprendiendo de código en los foros
                que se encontraban online en ese momento. <br>
                
                En este momento trabajo junto a un equipo de talentosos - que incluye tanto diseñadores gráficos,
                fotógrafos, como community managers - y esto me permite brindar una solución integral a nuestros
                clientes, quienes mayoritariamente están Sligados al mundo de la música electrónica; ya sea DJs,
                productores, sellos discográficos. <br>
                
                De momento me gustaría trabajar en relación de dependencia para desarrollar habilidades de
                trabajo en equipo, escucha activa y manejo de clientes. Al mismo tiempo que aportar a la compañía 
                el conocimiento que he adquirido en estos años de experiencia.</p>
        </span>
    </div>
</div> 